

## Importing Mysql packages

In [1]:

import pandas as pd
!pip install mysql-connector-python
import mysql.connector as sql

Requirement already satisfied: mysql-connector-python in d:\anaconda\lib\site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in d:\anaconda\lib\site-packages (from mysql-connector-python) (3.20.3)

## Establish a connection to the MySQL server

In [2]:
cnx = sql.connect(
    host="localhost",
    user="root",
    password="tech"
)
print (cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000019CDF23BFC8>

## Defining cursor object

In [3]:
cursor = cnx.cursor()

## Defining query to see all databases in MySql Server

In [4]:

query = 'show databases'

#Execute query
cursor.execute(query)

#fetch all data bases
data_bases = cursor.fetchall()

## Iterate through all the data baes

In [5]:

for data in data_bases:
    print(data)

('bridgeandchess',)
('cakesnfudges',)
('case1client',)
('case1student',)
('case2items',)
('case3assignment',)
('case4assignment',)
('climate',)
('covid19',)
('harrypotter',)
('information_schema',)
('music_database',)
('mysql',)
('office',)
('offstationary',)
('olympic_data',)
('performance_schema',)
('phychmbio',)
('project2',)
('redi_school',)
('sakila',)
('school',)
('student',)
('student_information',)
('swiggy',)
('sys',)
('world',)

## Now we navigate to the database we want

In [17]:
data_base = sql.connect(
    host="localhost",
    user="root",
    password="tech",
    database ="redi_school"
)
 
cur = data_base.cursor()

## Check the available table

In [18]:
query = 'show tables'
cur.execute(query)

#fetch all the tables

tables = cur.fetchall()

#iterate through each table

for dataNew in tables:
    print(dataNew)

('course',)
('school',)
('student',)

## define query to navigate to the table we want

In [21]:
quer ='select * from student'
cur.execute(quer)

In [22]:
df = pd.read_sql(quer, data_base)

In [23]:
display(df)

   stu_id first_name last_name nationality
0       1      ruchi      jain       india